[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dce"]
	path = dce
	url = https://github.com/cbg-ethz/dce
[submodule "epiNEM"]
	path = epiNEM
	url = https://github.com/cbg-ethz/epinem
[submodule "mnem"]
	path = mnem
	url = https://github.com/cbg-ethz/mnem
[submodule "nempi"]
	path = nempi
	url = https://github.com/cbg-ethz/nempi
[submodule "pareg"]
	path = pareg
	url = https://github.com/cbg-ethz/pareg
