[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dce"]
	path = dce
	url = https://github.com/cbg-ethz/dce
	shallow = true
	registered = true
[submodule "epiNEM"]
	path = epiNEM
	url = https://github.com/cbg-ethz/epinem
	shallow = true
	registered = true
[submodule "mnem"]
	path = mnem
	url = https://github.com/cbg-ethz/mnem
	shallow = true
	registered = true
[submodule "pareg"]
	path = pareg
	url = https://github.com/cbg-ethz/pareg
	shallow = true
	registered = true
